@use "../../../../scss/general/variables";
.month-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  button {
    background: linear-gradient(135deg, variables.$calendarGradientStart, variables.$calendarGradientEnd);
    color: variables.$whitePure;
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 6px variables.$monthSelectorShadowLight;

    &:hover {
      background: linear-gradient(135deg, variables.$monthSelectorGradientHoverStart, variables.$monthSelectorGradientHoverEnd);
      box-shadow: 0 4px 12px variables.$monthSelectorShadowHover;
    }
  }

  span {
    font-size: 1.1rem;
    font-weight: 500;
    color: variables.$monthSelectorText;
  }
}
