@use 'scss-reset';
@use "../general/variables";
@use "../general/mixins";
@use "../general/typography";

body {
  background-color: variables.$primaryColor;
  font-family: variables.$primaryFont;
}

.container {
  width: 1200px;
  margin: 0 auto;
  @include mixins.tablet {
    width: 90%;
  }
  @include mixins.mobile {
    width: 100%;
  }
}