@use "./variables";
@use "mixins";

.menu {
  li a {
    font-size: 1.2em;
    font-weight: 600;
    color: variables.$secondaryColor;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
  }

  ul.mobile-menu li a {
    font-size: 1.15em;

    &.active {
      font-weight: bold;
    }
  }
}

.home__title {
  font-size: 2.5em;
  font-weight: bold;
  @include mixins.mobile {
    font-size: 2em;
  }
}
.home__item {
  font-size: 1.25em;
}