@use "./variables";
@use "mixins";

.menu {
  li a {
    font-size: 1.25em;
    font-weight: 600;
    color: variables.$secondaryColor;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
  }

  ul.mobile-menu li a {
    font-size: 1.2em;

    &.active {
      font-weight: bold;
    }
  }
}

.home__title {
  font-size: 3em;
  font-weight: bold;
}
.home__item {
  font-size: 1.25em;
}