@use "./variables";
@use "mixins";

.menu {
  li a {
    font-size: 1.2em;
    font-weight: 600;
    color: variables.$secondaryColor;
    text-decoration: none;
    &.active {
      font-weight: bold;
    }
  }

  ul.mobile-menu li a {
    font-size: 1.15em;

    &.active {
      font-weight: bold;
    }
  }
}

.home__title {
  font-size: 2.5em;
  font-weight: bold;
  @include mixins.mobile {
    font-size: 2em;
  }
}
.home__item {
  font-size: 1.25em;
}

.habits__title {
  font-size: 2.5em;
  font-weight: bold;
  color: variables.$secondaryColor;
  @include mixins.mobile {
    font-size: 2em;
  }
}
.habit-list {
  font-size: 1.25em;
}
.habit-item {
  font-size: 1.25em;
}

.habit-form {
  input[type="text"] {
    font-size: 1.1em;
  }
}
.habit-form__buttons {
  button {
    font-size: 1em;
  }
}
.habit-item {
  h3 {
    font-size: 1em;
    @include mixins.mobile {
      font-size: 0.9em;
    }
  }
}
.habit-item__buttons {
  button {
    font-size: 0.95em;
    @include mixins.mobile {
      font-size: 0.7em;
    }
  }
}
.tracker-page {
  h1 {
    font-size: 36px;
    font-weight: 700;
    color: variables.$secondaryColor;
    @include mixins.tablet {
      font-size: 30px;
    }
    @include mixins.mobile {
      font-size: 24px;
    }
  }
}
.tracker-item {
  font-size: 18px;
  strong {
    font-size: 18px;
  }
  @include mixins.tablet {
    font-size: 16px;
    strong { font-size: 16px; }
  }
  @include mixins.mobile {
    font-size: 15px;
    strong { font-size: 15px; }
  }
}
.react-calendar {
  font-size: 18px;
  @include mixins.tablet {
    font-size: 16px;
  }
  @include mixins.mobile {
    font-size: 16px;
  }
  .react-calendar__navigation {
    button {
      font-size: 18px;
      font-weight: 600;
      @include mixins.tablet {
        font-size: 16px;
      }
      @include mixins.mobile {
        font-size: 16px;
      }
    }
  }
  .react-calendar__tile {
    font-size: 17px;
    @include mixins.tablet {
      font-size: 15px;
    }
    @include mixins.mobile {
      font-size: 15px;
    }
  }
}