$primaryColor: #F1F3FF;
$secondaryColor: #42446E;
$adjacentColor: #b7b9d6;
$hoverBgColor: #a59dd1;
$doneBgColor: #dcc7ea;
$loadingTextColor: gray;
$errorTextColor: red;
$emptyTextColor: #888;

$primaryFont : "Poppins", sans-serif;