@use "../../../../scss/general/mixins";
.react-calendar {
  max-width: 500px;
  width: 100%;
  border-radius: 22px;
  padding: 24px;
  background: rgba(255,255,255,0.97);
  box-shadow: 0 18px 40px rgba(0,0,0,0.08);
  margin: 0 auto;

  .react-calendar__navigation {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      padding: 8px 14px;
      border-radius: 14px;
      transition: all 0.3s ease;

      &:hover { background-color: rgba(0,0,0,0.05); transform: translateY(-2px);}
      &:active { transform: scale(0.95); }
    }
  }

  .react-calendar__month-view__weekdays { text-align: center; font-weight: 600; color: #555; }

  .react-calendar__tile {
    padding: 18px;
    border-radius: 16px;
    transition: all 0.3s ease;

    &:hover { background-color: rgba(0,0,0,0.06); transform: translateY(-2px); }
    &:active { transform: scale(0.95); }
  }
}

.calendar-done {
  background-color: rgba(164,240,164,0.65) !important;
  border-radius: 50% !important;
  color: black !important;
  transition: all 0.3s ease;

  &:hover,
  &:focus { background-color: rgba(145,228,145,0.75) !important; transform: translateY(-2px); }
}

@include mixins.tablet {
  .react-calendar {
    max-width: 90%;

    .react-calendar__tile {
      padding: 14px;
    }
  }
}

@include mixins.mobile {
  .react-calendar {
    max-width: 95%;
    padding: 18px;

    .react-calendar__tile {
      padding: 16px;
    }
  }
}
